<h1>Add a Subscriber</h1>
<form class="subscribe-form" method="post" action="/subscribers/create">
  <input type="text" name="fname" placeholder="First Name" />
  <input type="text" name="lname" placeholder="Last Name" />
  <select name="sex">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <button type="submit">Add</button>
</form>